<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/indexStyle.css"/>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular-1.3.0.js"></script>
</head>
<body>
<!--头部导航-->
<section class="content-header">
    <div id="breadcrumb">
        <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="fa fa-home fa-fw"></i>主页</a>
        <a href="#" class="tip-bottom">校园网络</a>
        <a href="#" class="tip-bottom">校园用户消费</a>
    </div>
</section>
<!--中间内容-->
<section class="container-fluid" id="containerHeight" ng-controller="myCtrl">
    <div class="row ">
        <!-- 这里要获取高度，索引内容都在这里-->
        <div class="conLeft">
            <ul class="tabLeft">
                <li class="active" ng-click="openLefts()"><a href="#workbench" data-toggle="tab">工<br/>作<br/>台</a></li>
                <li><a href="#special"  ng-click="openLefts()" data-toggle="tab">专<br/>题</a></li>
                <li><a href="#progress"  ng-click="openLefts()" data-toggle="tab">工<br/>作<br/>进<br/>度</a></li>
            </ul>
        </div>
       <div class="middle">
           <!-- 要切换的地方-->
           <div class="clCenter"  ng-class="{'tabanimate': pcleftstatue}">
               <div class="tab-content">
                   <div class="tab-pane fade in active" id="workbench">
                       <div class="workbench">
                            <div class="workbenchIn">工作台</div>
                            <div class="wibom">1111</div>
                       </div>
                       <div class="workbench">
                           <div class="workbenchIn">通知</div>
                           <div class="wibom wibombot">222</div>
                       </div>
                       <div class="workbench">
                           <div class="workbenchIn">新闻
                           </div>
                           <div class="wibom wibombot">3333</div>
                       </div>
                   </div>
                   <div class="tab-pane fade" id="special">
                       <div class="workbench works">
                           <div class="workbenchIn">竞争力分析</div>
                           <div class="wibom tonsa">444</div>
                       </div>
                       <div class="workbench works worksIn">
                           <div class="workbenchIn">用户渗透率分析</div>
                           <div class="wibom tonsa">555</div>
                       </div>
                   </div>
                   <div class="tab-pane fade" id="progress">
                       <div class="workbench build">
                           <div class="workbenchIn">建设类进度</div>
                           <div class=" ">5555</div>
                       </div>
                       <div class="workbench build">
                           <div class="workbenchIn">维护类进度</div>
                           <div class=" ">666</div>
                       </div>
                       <div class="workbench build">
                           <div class="workbenchIn">优化类进度</div>
                           <div class=" ">777</div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- 按钮-->
           <div class="hideBtn hideBtnLeft"   ng-click="hidecallbackleft()">
               <div class="hideBtnIn"></div>
           </div>
           <!--中间部分-->
           <div class="core">
               <div class="conTops">
                   <select>
                       <option ng-repeat="x in nationals">{{x}}</option>
                   </select>
                   <select>
                       <option ng-repeat="x in quarters">{{x}}</option>
                   </select>
                   <select>
                       <option ng-repeat="x in covers">{{x}}</option>
                   </select>
                   <select style="width: 100px">
                       <option ng-repeat="x in networks">{{x}}</option>
                   </select>
               </div>
               <div class="conBootm">
                    xxxxxxxxxx
               </div>
           </div>
           <!--右侧信息 -->

           <div class="centRight"  ng-class="{'tabanimate': pcrightstatue}">
                <div class="crTop">
                    <ul class="tabRight">
                        <li class="active"><a href="#network" data-toggle="tab">网络规模 </a>/</li>
                        <li><a href="#quota"  data-toggle="tab">性能指标 </a>/</li>
                        <li><a href="#problem"  data-toggle="tab">网络问题</a></li>
                    </ul>
                    <div class="tab-content  tabcenters">
                        <div class="tab-pane fade in active" id="network">
                            <ul class="network">
                                <li><a href="javascript:;">站点数量</a><span>86.7%</span></li>
                                <li><a href="javascript:;">站点数量</a><span>86.7%</span></li>
                                <li><a href="javascript:;">站点数量</a><span>86.7%</span></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="quota">
                            <ul class="network">
                                <li><a href="javascript:;">覆盖质量良好比例</a><span>86.7%</span></li>
                                <li><a href="javascript:;">覆盖质量良好比例</a><span>86.7%</span></li>
                                <li><a href="javascript:;">覆盖质量良好比例</a><span>86.7%</span></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="problem">333</div>
                    </div>
                </div>
                <div class="crBottom">
                    <ul class="tabRight">
                        <li class="active"><a href="#CompareTime" data-toggle="tab">时间对比</a>/</li>
                        <li><a href="#same" data-toggle="tab">同级对比</a></li>
                    </ul>
                    <div class="tab-content  tabcenters">
                        <div class="tab-pane fade in active" id="CompareTime">1111111111111111111111</div>
                        <div class="tab-pane fade" id="same">
                            <ul class="contrastTime">
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                                <li><span>1 江苏</span><a href="javascript:;">详情</a></li>
                            </ul>
                        </div>
                      </div>
                </div>
           </div>
           <!-- 按钮-->
           <div class="hideBtn hideBtnRight" ng-click="hidecallbackright()">
               <div class="hideBtnIn"></div>
           </div>
       </div>
    </div>
</section>
</body>
</html>
<script type="text/javascript">

</script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        var height = $(window).height()-55-40 ;
        var rowWidth = $(".middle ").width()-597 ;
        $(".core").width(rowWidth);
        var Illusion= $(".core").width()+261;
        var reduction= $(".core").width();
        var IllusionRight= $(".core").width()+281;
        var combination= $(".core").width()+281+260;
        $("#containerHeight,.tabLeft,.hideBtn,.clCenter,.centRight").height(height);
        window.onresize = function () {
            //解决页面因为大小，改变
            window.location.reload()
            var height = $(window).height()-55-40 ;
            var rowWidth = $(".middle ").width()-597 ;
            $(".core").width(rowWidth);
            var Illusion= $(".core").width()+261;
            var reduction= $(".core").width();
            var IllusionRight= $(".core").width()+281;
            var combination= $(".core").width()+281+260;
            $("#containerHeight,.tabLeft,.hideBtn,.clCenter,.centRight").height(height);

        };



//左右按钮切换
        $scope.pcleftstatue = false;
        $scope.pcrightstatue = false;
        $scope.hidecallbackleft = function () {
            $scope.pcleftstatue =  !$scope.pcleftstatue;
            if ($scope.pcrightstatue) {
               $(".core").width(combination);
                if(!$scope.pcleftstatue){
                    $(".core").width(IllusionRight)
                }
            } else {
                $(".core").width(Illusion);
            }
            if( !$scope.pcleftstatue){
                if(!$scope.pcrightstatue){
                    $(".core").width(reduction);
                }
            }
        };
//点击左侧弹窗
        $scope.openLefts= function(){
            $scope.pcleftstatue = false;
            if ($scope.pcrightstatue) {
                $(".core").width(combination);
                if(!$scope.pcleftstatue){
                    $(".core").width(IllusionRight)
                }
            } else {
                $(".core").width(Illusion);
            }
            if( !$scope.pcleftstatue){
                if(!$scope.pcrightstatue){
                    $(".core").width(reduction);
                }
            }
        }
//又按钮切换
        $scope.hidecallbackright = function () {
            $scope.pcrightstatue = !$scope.pcrightstatue;
            if ($scope.pcleftstatue) {
                $(".core").width(combination);
                if(!$scope.pcrightstatue){
                    $(".core").width(Illusion)
                }
            } else {
                $(".core").width(IllusionRight);
            }
            if( !$scope.pcrightstatue){
                if(!$scope.pcleftstatue){
                    $(".core").width(reduction);
                }
            }
        }

//   地图头部下拉
        $scope.nationals = ["全国项目", "省份项目"];
        $scope.quarters = ["2016年第一季度集中测试", "2016年第二季度集中测试"];
        $scope.covers = ["LTE","GSM","WCDMA"];
        $scope.networks = ["网管","路测"];

    });
</script>