*{ margin: 0;padding: 0;list-style: none}
.proLine{background: sandybrown;overflow: hidden;display: block}
.proLine li{ height: 30px;line-height: 30px;padding: 0 10px;}
.proLine li a{color: #fff}
.demo li .cur{display: block}

.box1{ width: 400px; margin: 50px auto}
.box1  a{ padding: 0 10px;margin: 5px;line-height: 30px;height: 30px;background: #f60;font-size: 18px; color: #fff}

 .demo li .active {
    background:#1D523E !important;
}

.box2{background:peachpuff; padding: 10px ; margin-top: 5px; }

.box2 span{font-size: 18px;}
.box2 i{cursor: pointer}