*{margin: 0; padding: 0;list-style: none}
body{
    background: #e7e8eb !important;
}
.doc-title{font-size: 20px;font-weight: normal; font-family: 'Microsoft Yahei','微软雅黑',Arial !important;}
.doc-textarea textarea{width: 100%;outline:none;   resize:none;border: 1px solid #ddd;    background-color: #f5f5f5 !important;}
.docs-tbody-hd{    background-color: #666;  color: #fff;}
.doc-textarea-hd{border: 1px solid #ddd; margin-bottom: -1px}
.doc-textarea-hd button{margin: 5px;background: rgb(34, 87, 160);color: #fff}
.doc-textarea-hd button:hover{color: #fff}
.doc-left{ padding: 0!important;position: relative;  float: left;border-right:1px solid #ddd }
.doc-right{float: left;padding-left: 20px}
.menu-title{padding: 15px 10px; margin-bottom: 0;  text-indent: 10px;  border-bottom: 1px solid #ddd;  font-weight: normal;}
.menu-1{border-top: 1px solid #ddd;padding: 0;height: 600px}
.menu-1 li{border-bottom: 1px solid #e7e7eb;text-align: center }
.menu-1 li a{text-decoration: none;padding:12px;display: block;font-size:16px;}
.menu-1 li a:hover{background: #F5F6F6}
.doc-grid{background: #fff;overflow: hidden}
.doc-select{ margin:20px 0;display: inline-block;width: 100%;}
.doc-name h2{ margin: 40px 0 20px 0;    color: #333;  float: none;  font-weight: normal; font-size: 22px;}
.doc-name h2 span{color: #666}
