<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="js/angular-1.4.6.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="myCtrl">
<div class="container">
    <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">吴鑫凯</a>
            </div>
            <div id="box">
                <ul class="nav navbar-nav demo" >
                    <li ng-repeat="item in information" >
                        <a href="javascript:;" >{{item.Name}}</a>
                        <!-- 二级标签-->
                        <ul class="proLine">
                            <li   ng-repeat="secondItem in item.Children">
                                <a href="javascript:;" ui-sref="{{secondItem.Url}}" ng-click="btnClick(secondItem.Name)" ><span>{{secondItem.Name}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div>
    <div class="box1">
        <a href="javascript:;" ng-class="{'active': $index==0}" ng-click="checkcateClick(x,$event)" class="active{{$index}}"  ng-repeat="x in checkCateData">{{x}}</a>
    </div>
</div>
<div class="box1">
    <div class="box2" ng-repeat="b in subData" style="width:100px;"><span style="width:70px;display:block;float:left;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;">{{b}}</span><i ng-click="deleteCheckData(b)">×</i></div>
</div>
</body>
</html>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
//  点击添加事件
        $scope.checkCateData = new Array()

        $scope.btnClick=function(name){
            var ary = $scope.checkCateData;
            if (ary.indexOf(name)==-1) { //防止重复提交
                ary.push(name);
            }
        };


//给增加的添加样式
        $scope.subData = new Array()

        $scope.checkcateClick = function (data, $event) {
            var subArr = $scope.subData;
            $('.active').removeClass("active");
            $($event.target).addClass("active");
            if (subArr.indexOf(data)==-1) {  //防止重复提交
                subArr.push(data);
            }
        }
//删除被选中标签
        $scope.deleteCheckData = function (cate) {
            $scope.subData.remove(cate);  //删除方法
        }

//数据
        $scope.information =[
            {
                "ID": 1,
                "Name": "首页",
                "PID": -1,
                "Url": "main.index",
                "Remark": null,
                "OrderNo": 1,
                "Children": null
            },
            {
                "ID": 2,
                "Name": "产品",
                "PID": -1,
                "Url": "main.product",
                "Remark": null,
                "OrderNo": 2,
                "Children": [
                    {
                        "ID": 8,
                        "Name": "T-DAAS",
                        "PID": 2,
                        "Url": "main.personalizedSystem",
                        "Remark": null,
                        "OrderNo": 8,
                        "Children": null
                    },
                    {
                        "ID": 9,
                        "Name": "位置洞察平台",
                        "PID": 2,
                        "Url": "main.personalizedSystem",
                        "Remark": null,
                        "OrderNo": 9,
                        "Children": null
                    },
                    {
                        "ID": 10,
                        "Name": "云中心",
                        "PID": 2,
                        "Url": "main.personalizedSystem",
                        "Remark": null,
                        "OrderNo": 10,
                        "Children": null
                    },
                    {
                        "ID": 11,
                        "Name": "智能洞察",
                        "PID": 2,
                        "Url": "main.personalizedSystem",
                        "Remark": null,
                        "OrderNo": 11,
                        "Children": null
                    }
                ]
            },
            {
                "ID": 3,
                "Name": "解决方案",
                "PID": -1,
                "Url": "main.solution",
                "Remark": null,
                "OrderNo": 3,
                "Children": null
            },
            {
                "ID": 4,
                "Name": "案例",
                "PID": -1,
                "Url": "main.case",
                "Remark": null,
                "OrderNo": 4,
                "Children": null
            },
            {
                "ID": 5,
                "Name": "数据报告",
                "PID": -1,
                "Url": "main.report",
                "Remark": null,
                "OrderNo": 5,
                "Children": null
            },
            {
                "ID": 7,
                "Name": "关于我们",
                "PID": -1,
                "Url": "main.aboutUs",
                "Remark": null,
                "OrderNo": 7,
                "Children": [
                    {
                        "ID": 14,
                        "Name": "公司介绍",
                        "PID": 7,
                        "Url": "main.technicalTeam",
                        "Remark": null,
                        "OrderNo": 14,
                        "Children": null
                    },
                    {
                        "ID": 15,
                        "Name": "管理团队",
                        "PID": 7,
                        "Url": "main.managementTeam",
                        "Remark": null,
                        "OrderNo": 15,
                        "Children": null
                    },
                    {
                        "ID": 17,
                        "Name": "技术团队",
                        "PID": 7,
                        "Url": "main.technology",
                        "Remark": null,
                        "OrderNo": 17,
                        "Children": null
                    },
                    {
                        "ID": 18,
                        "Name": "资质荣誉",
                        "PID": 7,
                        "Url": "main.honor",
                        "Remark": null,
                        "OrderNo": 18,
                        "Children": null
                    },
                    {
                        "ID": 19,
                        "Name": "新闻资讯",
                        "PID": 7,
                        "Url": "main.information",
                        "Remark": null,
                        "OrderNo": 19,
                        "Children": null
                    },
                    {
                        "ID": 20,
                        "Name": "加入我们",
                        "PID": 7,
                        "Url": "main.joinUs",
                        "Remark": null,
                        "OrderNo": 20,
                        "Children": null
                    },
                    {
                        "ID": 21,
                        "Name": "联系我们",
                        "PID": 7,
                        "Url": "main.contact",
                        "Remark": null,
                        "OrderNo": 21,
                        "Children": null
                    }
                ]
            }
        ]
    })


</script>
