<kendo-grid options="mainGridOptions">
            <div k-detail-template>
                <kendo-tabstrip>
                <ul>
                    <li class="k-state-active">Orders</li>
                    <li>Contact information</li>
                </ul>
                <div>
                    <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                </div>
                <div>
                    <ul>
                        <li>Country: <input ng-model="dataItem.Country" /></li>
                        <li>City: <input ng-model="dataItem.City" /></li>
                        <li>Address: {{dataItem.Address}}</li>
                        <li>Home phone: {{dataItem.HomePhone}}</li>
                    </ul>
                </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>
<div class="panel panel-info" style="margin-bottom: 0px;">
    <div class="panel-body">
        说明
    </div>
    <div class="panel-footer">此处演示按需加载Kendo(require)自定义扩展脚本和Css(css)样式表文件.包括module(ngload)的自动注入,展示Grid列表控件.注:此处数据内容从远程服务器获取,可能稍有延迟</div>
</div>
<!--kendo ui-->
<div style="font-size: 20px">日历</div>
<div>
    <select class="form-control" style="width: 100px;float: left" ng-model="datetype"  ng-change="timeChanges()"   ng-options="obj.ID as obj.Name for obj in names" > </select>

    <input id="TimeDay" style="width: 250px;float: left" />

    <!--<input id="TimeHour" style="width: 250px;float: left" />-->

    <!-- 模板内容-->
    <div id="footer-template">Ctrl控制模板，内容在HTML中</div>
</div>