<div class="navbar-default">
    <ul class="ul">
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 1, role: '一'})">点击首页</a></li>
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 2, role: '二'})">数据管理</a></li>
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 3, role: '三'})">问题管理</a></li>
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 4, role: '四'})">方案管理</a></li>
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 5, role: '五'})">进度跟踪</a></li>
        <li> <a href="javascript:;"  ui-sref="main.parameter1({type: 6, role: '六'})">分析报告</a></li>
    </ul>
</div>
<style type="text/css">
    .navbar-default{    border-color: #e7e7e7;
        background: #dd4b39;
        border-bottom: 1px solid #ddd; height: 36px;}
    .ul{ margin: 0;padding: 0;list-style: none;width: 1000px; margin: 0 auto}
    .ul li{    float: left;}
    .ul li a{text-decoration: none;font-style: normal;line-height: 36px;display:inline-block; padding: 0 20px;color: #fff}
    .ul li a:hover{background: blue;color: aqua}
</style>