<button type="button" class="btn btn-primary" ng-click="showOne()">State One</button>
<button type="button" class="btn btn-primary" ng-click="showTwo()">State Two</button>
<button type="button" class="btn btn-primary" ng-click="showThree()">State Three</button>
<div ui-view></div>
<div class="panel panel-info" style="margin-bottom: 0px;">
    <div class="panel-body">
        说明
    </div>
    <div class="panel-footer">此处演示分布式路由配置和按需加载路由配置文件(require),以及对View模板的重用(三个内容页分别使用三个不同的控制器,同一个View).</div>
</div>