*{margin: 0;padding: 0;list-style: none}
html,body{
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}
.box{margin: 20px auto;padding: 20px;  width: 800px;border: 1px solid green}
.box a{text-decoration: none}
.box .link{ font-size: 20px;}
.box .link:hover{ font-size: 20px;color: orange}
.box h2{ height: 35px;line-height: 35px;background: green;margin-top: 10px; font-size: 16px;color: #fff;}
.box h2 span{float: left;text-align: center}
.w50{width: 50px}
.w150{width: 150px}
.w200{width: 200px}
.box li{height: 30px;line-height: 30px;}
.box li span{float: left;text-align: center;}
.box li:nth-child(even){
    background: #eee;
}
.box li:hover{
    background-color: #B1D7EF;}
.control a{display: inline-block;margin: 0 5px}