<!DOCTYPE html>
<html lang="en" ng-app="docsApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/angular-1.3.0.js"></script>
</head>
<body ng-controller="docsCtrl">
<!--导航和菜单栏-->

<div class="container" style="margin-top: 100px">
    <div class="doc-grid">
        <div class="doc-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!--<h3 class="menu-title">开放平台</h3>-->
            <div class="col-xs-12">
                <!--<select  class="form-control doc-select "  >-->
                <!--<option  ng-repeat=" Interface in Interfaces"  ng-click="inChange()">{{Interface.Name}}</option>-->
                <!--</select>-->
                <select  class="form-control doc-select" ng-options="obj.Code as obj.Name for obj in Interfaces" ng-change="appChange()" ng-model="currentApp"></select>
            </div>
            <ul class="menu-1 col-xs-12">
                <!--传递对象是让整个对象都传过去-->
                <li ng-repeat="docsMenu in docsMenus"><a href="javascript:;" ng-click="docsContent(docsMenu)">{{docsMenu.Title}}</a></li>
            </ul>
        </div>
        <div class="doc-right  col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <!--名称-->
            <div class="doc-name">
                <h2 >{{allitem.Title}}</h2>
            </div>
            <!--描述-->
            <div class="doc-describe">
                <h2 class="doc-title">描述</h2>
                <p>{{allitem.Description}}</p>
            </div>
            <!--参数-->
            <div>
                <h2 class="doc-title">参数</h2>
                <div class="doc-table">
                    <table class="table table-bordered">
                        <tbody class="docs-tbody">
                        <tr class="docs-tbody-hd">
                            <td>名称</td>
                            <td>类型</td>
                            <td>示例值</td>
                            <td>描述</td>
                        </tr>
                        <tr ng-repeat="x in AllContent">
                            <td>{{x.Name}}</td>
                            <td>{{x.Type}}</td>
                            <td>{{x.Examplevalue}}</td>
                            <td>{{x.Disciption}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--示例-->
            <div>
                <h2 class="doc-title">示例</h2>
                <div class="doc-textarea">
                    <div class="doc-textarea-hd clearfix">
                        <!--<a  target="_blank" href="./demos.html" class="btn  pull-right">演示</a>-->
                        <a  target="_blank" href="javascript:;"  class="btn  pull-right" ng-click="demo()">演示</a>
                    </div>
                    <textarea rows="10">{{allitem.Example}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="js/js.js"></script>