@media (max-width: 768px){
    .sidebar-close #sidebar{
        height: auto;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 1001;
        display: block;
        margin: 0px !important;
    }
    .header {
        position: absolute;
    }
    /*让main-content的left为o*/
    #main-content {
        margin: 0px!important;
        position: none!important;
    }
    #sidebar {
        display: none;
    }
    #sidebar>ul>li>a>span {

    }

    #sidebar>ul>li {
        margin: 0 10px 5px 10px;
    }

    #sidebar>ul>li>a {
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        text-align: left;
    }

    #sidebar>ul>li>a i {
    }

    .mail-info, .mail-info:hover {
        display: none !important;
    }
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        /*background: #4A8BC2 !important ;*/
    }


    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}