body, html {
    font-family: 'Microsoft YaHei';
}

#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
    text-align: left;
}

#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url('../images/breadcrumb.png');
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #333;
}

#containerHeight {
    width: 100%;
    border: 1px solid #ccc
}

.tabLeft {
    width: 40px;
    background: #d7d7d7;
    list-style: none;
    padding: 0;
    margin: 0
}

.tabLeft li {
    width: 40px;
    text-align: center;
    margin: 1px 0;
    cursor: pointer;
    border-bottom: 1px solid #fff
}

.tabLeft li a {
    color: #333;
    text-decoration: none;
    width: 40px;
    padding: 20px 0;
    display: block
}

.tabLeft li:hover {
    color: #fff;
    background: #dd0000
}

.tabLeft li:hover a {
    color: #fff
}

.tabLeft .active {
    background: #dd0000;
}

.tabLeft .active a {
    color: #fff;
}

.conLeft {
    float: left
}

.hideBtnLeft {
    float: left;
    margin-left: 2px;
}

.hideBtnRight {
    float: right;
    margin-right: 2px;
}

.hideBtn {
    width: 6px;
    background: #f4e3e1;
    position: relative
}

.hideBtnIn {
    width: 6px;
    background: #D61718;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer
}

.clCenter {
    width: 260px;
    float: left;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
}

.centRight {
    float: right;
    width: 280px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.tabanimate {
    display: none;
}

.core {
    float: left
}

.crTop {
    background: #f5f5f5
}

.tabRight {
    list-style: none;
    height: 30px;
    background: -webkit-linear-gradient(top, #fff, #e4e4e4);
-mo-linear-gradient(top, #fff, #e4e4e4);
-ms-linear-gradient(top, #fff, #e4e4e4);
linear-gradient(top, #fff, #e4e4e4);
    padding: 0;
    margin: 0;
}

.tabRight li {
    float: left;
    line-height: 30px;
}

.tabRight li a {
    padding: 0 5px;
    color: #01A2FD;
    font-weight: bold;
    text-decoration: none
}

.tabcenters {

}

.crTop {
    height: 39%;
    overflow: hidden;
    -moz-box-shadow: 3px 3px 5px #888888;
    box-shadow: 3px 3px 5px #888888;
}

.crBottom {
    height: 59%;
    margin-top: 5px;
}

.conTops {
    padding-top: 3px;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
}

.works {
    margin: 5px;
    border: 1px solid #ccc
}

.workbench .tonsa {
    background: #fff;
    border: none;
    height: 200px
}

.workbenchIn {
    list-style: none;
    height: 30px;
    background: -webkit-linear-gradient(top, #fff, #e4e4e4);
    padding: 0;
    margin: 0;
    color: #01A2FD;
    line-height: 30px;
    text-indent: 5px;
    font-weight: bold
}

.wibom {
    height: 100px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0
}

.wibombot {
    height: 240px
}

.worksIn {
    margin-top: 20px;
}

.build {
    height: 160px;
    background: #f7f7f7;
    margin: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px
}

.network, .contrastTime {
    list-style: none;
    margin: 10px 15px;
    padding: 0
}

.network li, .contrastTime li {
    line-height: 30px;
    height: 30px;
    width: 100%
}

.network li a {
    float: left;
    color: #333;
    text-decoration: none
}

.network li span {
    color: #D61718;
    float: right
}

.contrastTime li a {
    float: right;
    color: #FF9900
}

.contrastTime li span {
    float: left
}

.conTops select {
    margin-left: 20px
}
